<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ujacha.hot.mvcstarter.namecard.NameCardMapper">
    <select id="findById" resultType="NameCard" parameterType="long">
        SELECT * FROM namecard WHERE id = #{id}
    </select>

    <select id="findAll" resultType="NameCard" >
        SELECT * FROM namecard WHERE 1 = 1
    </select>
</mapper>
